
.router {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #4193b8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  
}

.navbar-brand {
  font-size: 1.5rem;
  color: turquoise;
  
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.connect-wallet-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.votelist {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.votelist h2 {
  margin: 0 0 10px 0;
}

.votelist p {
  margin: 0;
}

.votelist a {
  color: #007bff;
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.vote-detail {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.vote-detail h2 {
  margin: 0 0 10px 0;
}

.vote-detail p {
  margin: 0;
}

.vote-detail a {
  color: #007bff;
  text-decoration: none;
}


.vote-detail-container {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.vote-detail-item {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(0);
  animation: popIn 0.5s forwards;
}

@keyframes popIn {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

#container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

#container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.link-no-underline {
  text-decoration: none;
}

.vote-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.vote-item p:first-child {
  font-size: 1.2em;
  font-weight: bold;
}

.vote-item p:not(:first-child) {
  margin-left: 10px;
}